<!DOCTYPE html>
<html>
  <head>
    <title>Eminent Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% if defined?(candidate_login_var) %>
      <div id="my-element" data-ruby-variable="<%= candidate_login_var %>"></div>
    <% end %>
    <script>
        var IsViewTabs = <%= ENV['IS_PROD_READY'] %>;
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
